# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vsidx
*.pdb
*.dbmdl

# Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de build
*.builds

# Configuración local
*.local

# Carpetas de publicación
publish/

# Archivos temporales
*.tmp
*.bak
*.old